*{ margin : 0; 
  padding: 0;  
font-family: 'Josefin Sans', sans-serif;}

body {background-color: white;}

.carousel-inner img {
    width : 100%;
    height : 90vh;
  } 

.aboutimg {
width : 100% ;
height : 300px!important;
}

h1 {
  font-weight: bold;
  color: yellow;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

#features{
  padding: 7% 15%;
  background-color: rgb(255, 255, 255); 
}
.feature-box{
  padding: 5%;
  text-align: center;
}
.icon{
  color: #1578b9;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #0c3651;
}